Repository CS3219-AY2425S1/cs3219-ay2425s1-project-g33, pull requests merged in 2024-10, with the labels that each got.

#56 Add user service endpoints
  backend/gateway-service/src/app.module.ts
  backend/gateway-service/src/common/interceptors/response.interceptor.ts
  backend/gateway-service/src/constants/account-provider.enum.ts
  backend/gateway-service/src/constants/coding-languages.enum.ts
  backend/gateway-service/src/constants/index.ts
  backend/gateway-service/src/constants/proficiency-level.enum.ts
  backend/gateway-service/src/main.ts
  backend/gateway-service/src/modules/question/question.controller.ts
  backend/gateway-service/src/modules/user/dto/index.ts
  backend/gateway-service/src/modules/user/dto/update-user.dto.ts
  backend/gateway-service/src/modules/user/dto/user-response.dto.ts
  backend/gateway-service/src/modules/user/events/create-user.event.ts
  backend/gateway-service/src/modules/user/user.controller.ts
  backend/gateway-service/src/modules/user/user.service.ts
  backend/user-service/src/app.controller.ts
  backend/user-service/src/app.service.ts
  backend/user-service/src/constants/index.ts
  backend/user-service/src/dto/update-user.dto.ts
  backend/user-service/src/payload/update-user.payload.ts
  backend/user-service/src/schema/user.schema.ts
Labels: p.high, backend

#59 Add isOnboarded field to JWT token
  backend/auth-service/src/app.service.ts
  backend/auth-service/src/interfaces/token-payload.interface.ts
  backend/gateway-service/src/modules/auth/auth.controller.ts
Labels: backend

#61 Link profile service to backend
  frontend/src/app/profile/_components/EditProfile.tsx
  frontend/src/app/profile/_components/EditProfileButton.tsx
  frontend/src/app/profile/_components/ProfileCard.tsx
  frontend/src/app/profile/_components/QuestionHistory/QuestionColumns/DurationColumn.tsx
  frontend/src/app/profile/_components/SideContents.tsx
  frontend/src/components/ProfileMiniDetailsCard.tsx
  frontend/src/components/ViewProfileButton.tsx
  frontend/src/services/profileService.ts
  frontend/src/types/Profile.ts
Labels: frontend

#62 Onboarding feature
  frontend/src/app/dashboard/_components/QuestionTable/data-table-toolbar.tsx
  frontend/src/app/dashboard/layout.tsx
  frontend/src/app/globals.css
  frontend/src/app/onboard/_components/Forms/LanguagesForm.tsx
  frontend/src/app/onboard/_components/Forms/ProficiencyForm.tsx
  frontend/src/app/onboard/_components/Forms/UserDetailsForm.tsx
  frontend/src/app/onboard/_components/StepperComponent.tsx
  frontend/src/app/onboard/layout.tsx
  frontend/src/app/onboard/page.tsx
  frontend/src/components/LoadingSpinner.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/form/RadioGroupInput.tsx
  frontend/src/components/form/TextInput.tsx
  frontend/src/components/form/UserAvatarInput.tsx
  frontend/src/contexts/OnboardMultiStepFormContext.tsx
  frontend/src/contexts/UserContext.tsx
  frontend/src/lib/auth.ts
  frontend/src/middleware.ts
  frontend/src/services/questionService.ts
  frontend/src/services/userService.ts
  frontend/src/types/AccountProvider.ts
  frontend/src/types/Languages.ts
  frontend/src/types/Proficiency.ts
  frontend/src/types/Role.ts
  frontend/src/types/Token.ts
  frontend/src/types/User.ts
  frontend/src/types/UtilityTypes.ts
  frontend/tailwind.config.ts
Labels: frontend

#74 Create shared-network in docker compose
  backend/docker-compose.yml
  frontend/docker-compose.yml
Labels: devops

#80 Patch: Redirect page to FE after social oauth
  backend/auth-service/src/app.service.ts
  backend/gateway-service/src/modules/auth/auth.controller.ts
Labels: backend, patch

#79 Centralise env variables handling
  backend/auth-service/src/app.controller.spec.ts
  backend/auth-service/src/app.module.ts
  backend/auth-service/src/app.service.ts
  backend/auth-service/src/configs/env.config.ts
  backend/auth-service/src/configs/index.ts
  backend/auth-service/src/main.ts
  backend/auth-service/src/strategies/access-token.strategy.ts
  backend/auth-service/src/strategies/github.strategy.ts
  backend/auth-service/src/strategies/google.strategy.ts
  backend/auth-service/src/strategies/refresh-token.strategy.ts
  backend/gateway-service/src/app.module.ts
  backend/gateway-service/src/common/configs/env.config.ts
  backend/gateway-service/src/common/configs/index.ts
  backend/gateway-service/src/common/constants/account-provider.enum.ts
  backend/gateway-service/src/common/constants/coding-languages.enum.ts
  backend/gateway-service/src/common/constants/index.ts
  backend/gateway-service/src/common/constants/proficiency-level.enum.ts
  backend/gateway-service/src/common/constants/role.enum.ts
  backend/gateway-service/src/common/decorators/roles.decorator.ts
  backend/gateway-service/src/common/guards/roles.guard.ts
  backend/gateway-service/src/common/interfaces/user/user.interface.ts
  backend/gateway-service/src/main.ts
  backend/gateway-service/src/modules/question/question.controller.ts
  backend/gateway-service/src/modules/user/dto/update-user.dto.ts
  backend/gateway-service/src/modules/user/user.controller.ts
  backend/matching-service/src/app.module.ts
  backend/matching-service/src/app.service.ts
  backend/matching-service/src/configs/env.config.ts
  backend/matching-service/src/configs/index.ts
  backend/matching-service/src/helper/priority-queue.ts
  backend/matching-service/src/main.ts
  backend/matching-service/src/services/match-worker.service.ts
  backend/matching-service/src/services/redis.service.ts
  backend/question-service/src/app.module.ts
  backend/question-service/src/configs/env.config.ts
  backend/question-service/src/configs/index.ts
  backend/question-service/src/main.ts
  backend/user-service/src/app.module.ts
  backend/user-service/src/app.service.ts
  backend/user-service/src/configs/env.config.ts
  backend/user-service/src/configs/index.ts
  backend/user-service/src/main.ts
Labels: backend

#85 Return user id in /users/current
  backend/gateway-service/src/modules/user/dto/user-response.dto.ts
  backend/gateway-service/src/modules/user/user.controller.ts
Labels: backend, patch

#86 Code refactor for frontend services
  frontend/src/app/auth/signup/_components/SignupForm.tsx
  frontend/src/app/oauth/route.ts
  frontend/src/app/onboard/_components/Forms/LanguagesForm.tsx
  frontend/src/app/onboard/_components/Forms/ProficiencyForm.tsx
  frontend/src/lib/auth.ts
  frontend/src/services/authService.ts
  frontend/src/services/questionService.ts
  frontend/src/types/Token.ts
Labels: bug, frontend

#87 Handle edge case when user disconnect
  backend/gateway-service/src/modules/match/match.controller.ts
Labels: backend, patch

#89 Add fields to event response object
  backend/gateway-service/src/modules/match/match.controller.ts
Labels: backend, patch

#98 Add collaboration page skeleton ui
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/collaboration/_components/CollabCodePanel/CodeEditorTabContent.tsx
  frontend/src/app/collaboration/_components/CollabCodePanel/CollabCodePanel.tsx
  frontend/src/app/collaboration/_components/CollabCodePanel/index.ts
  frontend/src/app/collaboration/_components/QuestionPanel/DescriptionTabContent.tsx
  frontend/src/app/collaboration/_components/QuestionPanel/QuestionPanel.tsx
  frontend/src/app/collaboration/_components/QuestionPanel/SolutionTabContent.tsx
  frontend/src/app/collaboration/_components/QuestionPanel/index.ts
  frontend/src/app/collaboration/_components/TabPanel.tsx
  frontend/src/app/collaboration/_components/TestResultPanel/TestCasesTabContent.tsx
  frontend/src/app/collaboration/_components/TestResultPanel/TestResultPanel.tsx
  frontend/src/app/collaboration/_components/TestResultPanel/TestResultTabContent.tsx
  frontend/src/app/collaboration/_components/TestResultPanel/index.ts
  frontend/src/app/collaboration/layout.tsx
  frontend/src/app/collaboration/page.tsx
  frontend/src/components/ui/resizable.tsx
  frontend/src/components/ui/tabs.tsx
Labels: frontend

#99 Implement working collaborative ide in frontend
  frontend/next.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/collaboration/_components/CollabCodePanel/CodeEditorTabContent.tsx
  frontend/src/app/globals.css
Labels: frontend

#97 Add matching history
  backend/gateway-service/src/modules/match/match.controller.ts
  backend/gateway-service/src/modules/match/redis.service.ts
  backend/matching-service/package-lock.json
  backend/matching-service/package.json
  backend/matching-service/src/app.controller.ts
  backend/matching-service/src/app.module.ts
  backend/matching-service/src/app.service.ts
  backend/matching-service/src/match-worker.service.ts
  backend/matching-service/src/redis.service.ts
  backend/matching-service/src/schema/match-history.schema.ts
Labels: p.medium

#106 Setup y-mongo db provider
  backend/y-websocket-service/package-lock.json
  backend/y-websocket-service/package.json
  backend/y-websocket-service/src/configs/env.config.ts
  backend/y-websocket-service/src/yjs.gateway.ts
Labels: backend
