Repository CS3219-AY2425S1/cs3219-ay2425s1-project-g33, pull requests merged in 2024-09, with the labels that each got.

#19 MS2: Set up Frontend Repo
  backend/collaboration-service/.gitignore
  backend/collaboration-service/README.md
  backend/collaboration-service/package-lock.json
  backend/collaboration-service/package.json
  backend/collaboration-service/server.js
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/Dockerfile
  frontend/README.md
  frontend/components.json
  frontend/docker-compose.yml
  frontend/next.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.mjs
  frontend/src/app/favicon.ico
  frontend/src/app/fonts/GeistMonoVF.woff
  frontend/src/app/fonts/GeistVF.woff
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/app/socket.js
  frontend/src/app/socket/_components/Message.tsx
  frontend/src/app/socket/_components/MessageComposer.tsx
  frontend/src/app/socket/_components/Messages.tsx
  frontend/src/app/socket/page.tsx
  frontend/src/components/ui/avatar.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/calendar.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/contexts/ThemeContext.tsx
  frontend/src/lib/utils.ts
  frontend/src/services/questionService.ts
  frontend/src/types/Question.ts
  frontend/tailwind.config.ts
  frontend/tsconfig.json
Labels: p.high, frontend

#21 Jmsandiegoo/frontend ms2
  frontend/next.config.mjs
  frontend/package-lock.json
  frontend/src/app/dashboard/_components/QuestionsList.tsx
  frontend/src/app/dashboard/_components/StreakCalendar.tsx
  frontend/src/app/dashboard/layout.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/page.tsx
  frontend/src/app/socket/_components/Message.tsx
  frontend/src/app/socket/_components/Messages.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/types/Question.ts
Labels: frontend

#24 Add google auth
  backend/auth-service/Dockerfile
  backend/auth-service/package-lock.json
  backend/auth-service/package.json
  backend/auth-service/src/app.controller.ts
  backend/auth-service/src/app.module.ts
  backend/auth-service/src/app.service.ts
  backend/auth-service/src/google.strategy.ts
  backend/auth-service/src/main.ts
  backend/docker-compose.yml
  backend/gateway-service/.gitignore
  backend/gateway-service/src/app.module.ts
  backend/gateway-service/src/auth/auth.controller.ts
  backend/gateway-service/src/auth/auth.service.ts
  backend/gateway-service/src/main.ts
  backend/gateway-service/src/question/dto/find-question-by-id.dto.ts
  backend/gateway-service/src/question/dto/get-questions.dto.ts
  backend/gateway-service/src/question/dto/index.ts
  backend/gateway-service/src/question/question.controller.ts
  backend/gateway-service/src/question/question.service.ts
  backend/gateway-service/src/question/questions.controller.ts
  backend/questions-service/src/app.controller.ts
  backend/questions-service/src/app.service.ts
  backend/questions-service/src/dto/find-question-by-id.dto.ts
  backend/questions-service/src/dto/get-questions.dto.ts
  backend/questions-service/src/dto/index.ts
  backend/questions-service/src/main.ts
  backend/questions-service/src/schema/question.schema.ts
Labels: enhancement, p.medium, backend

#25 Add new questions endpoints and response handling
  backend/gateway-service/src/common/interceptors/response.interceptor.ts
  backend/gateway-service/src/main.ts
  backend/gateway-service/src/question/dto/create-question.dto.ts
  backend/gateway-service/src/question/dto/find-question-by-slug.dto.ts
  backend/gateway-service/src/question/dto/get-questions.dto.ts
  backend/gateway-service/src/question/dto/index.ts
  backend/gateway-service/src/question/question.controller.ts
  backend/gateway-service/src/question/question.service.ts
  backend/questions-service/src/app.controller.ts
  backend/questions-service/src/app.module.ts
  backend/questions-service/src/app.service.ts
  backend/questions-service/src/dto/create-question.dto.ts
  backend/questions-service/src/dto/find-question-by-slug.dto.ts
  backend/questions-service/src/dto/get-questions-response.dto.ts
  backend/questions-service/src/dto/get-questions.dto.ts
  backend/questions-service/src/dto/index.ts
  backend/questions-service/src/schema/question.schema.ts
Labels: p.high, backend

#26 Add basic frontend dashboard component layout
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/dashboard/_components/FindMatchButton.tsx
  frontend/src/app/dashboard/_components/QuestionsStatsCard.tsx
  frontend/src/app/dashboard/_components/SideContents.tsx
  frontend/src/app/dashboard/_components/StreakCalendarCard.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/socket/_components/MessageComposer.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/ProfileMiniDetailsCard.tsx
  frontend/src/components/UserAvatar.tsx
  frontend/src/components/ui/avatar.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/calendar.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/chart.tsx
  frontend/src/components/ui/hover-card.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/lib/utils.ts
  frontend/tailwind.config.ts
Labels: frontend

#42 Refactor auth implementation
  backend/auth-service/package-lock.json
  backend/auth-service/package.json
  backend/auth-service/src/app.controller.ts
  backend/auth-service/src/app.module.ts
  backend/auth-service/src/app.service.ts
  backend/auth-service/src/dto/auth.dto.ts
  backend/auth-service/src/dto/generate-jwt.dto.ts
  backend/auth-service/src/dto/index.ts
  backend/auth-service/src/dto/validate-user-cred.dto.ts
  backend/auth-service/src/interfaces/index.ts
  backend/auth-service/src/interfaces/token-payload.interface.ts
  backend/auth-service/src/interfaces/token.interface.ts
  backend/auth-service/src/strategies/access-token.strategy.ts
  backend/auth-service/src/strategies/github.strategy.ts
  backend/auth-service/src/strategies/google.strategy.ts
  backend/auth-service/src/strategies/index.ts
  backend/auth-service/src/strategies/refresh-token.strategy.ts
  backend/gateway-service/src/common/interceptors/response.interceptor.ts
  backend/gateway-service/src/modules/auth/auth.controller.ts
  backend/gateway-service/src/modules/auth/auth.service.ts
  backend/gateway-service/src/modules/auth/dto/auth.dto.ts
  backend/gateway-service/src/modules/auth/dto/index.ts
  backend/gateway-service/src/modules/auth/dto/sign-up.dto.ts
  backend/gateway-service/src/modules/auth/interfaces/index.ts
  backend/gateway-service/src/modules/auth/interfaces/token.interface.ts
  backend/gateway-service/src/modules/user/dto/create-user.dto.ts
  backend/gateway-service/src/modules/user/user.controller.ts
  backend/gateway-service/src/modules/user/user.service.ts
  backend/user-service/src/app.controller.ts
  backend/user-service/src/app.service.ts
  backend/user-service/src/dto/create-user-profile.dto.ts
  backend/user-service/src/dto/index.ts
  backend/user-service/src/dto/update-refresh-token.dto.ts
  backend/user-service/src/schema/user.schema.ts
Labels: backend

#45 Implement Logout, Refresh Token and Auth Guard
  backend/auth-service/src/app.controller.ts
  backend/auth-service/src/app.module.ts
  backend/auth-service/src/app.service.ts
  backend/auth-service/src/dto/auth-id.dto.ts
  backend/auth-service/src/dto/index.ts
  backend/auth-service/src/dto/refresh-token.dto.ts
  backend/auth-service/src/strategies/refresh-token.strategy.ts
  backend/gateway-service/package-lock.json
  backend/gateway-service/package.json
  backend/gateway-service/src/app.module.ts
  backend/gateway-service/src/common/decorators/get-current-user-id.decorator.ts
  backend/gateway-service/src/common/decorators/get-current-user.decorator.ts
  backend/gateway-service/src/common/decorators/index.ts
  backend/gateway-service/src/common/decorators/public.decorator.ts
  backend/gateway-service/src/common/guards/at-auth.guard.ts
  backend/gateway-service/src/common/guards/index.ts
  backend/gateway-service/src/common/guards/rt-auth.guard.ts
  backend/gateway-service/src/common/interfaces/auth/index.ts
  backend/gateway-service/src/common/interfaces/auth/jwt-payload-refresh-token.interface.ts
  backend/gateway-service/src/common/interfaces/auth/jwt-payload.interface.ts
  backend/gateway-service/src/main.ts
  backend/gateway-service/src/modules/auth/auth.controller.ts
  backend/gateway-service/src/modules/auth/auth.service.ts
  backend/gateway-service/src/modules/auth/dto/index.ts
  backend/gateway-service/src/modules/auth/dto/validate-user-cred.dto.ts
  backend/user-service/src/app.controller.ts
  backend/user-service/src/app.service.ts
  backend/user-service/src/dto/delete-refresh-token.dto.ts
  backend/user-service/src/dto/index.ts
Labels: backend

#47 Update social auth to handle user checking
  backend/auth-service/.env.example
  backend/auth-service/src/app.controller.ts
  backend/auth-service/src/app.service.ts
  backend/auth-service/src/constants/account-provider.enum.ts
  backend/gateway-service/.env.example
  backend/gateway-service/src/app.module.ts
  backend/gateway-service/src/modules/auth/auth.controller.ts
  backend/gateway-service/src/modules/auth/auth.service.ts
  backend/gateway-service/src/modules/question/question.controller.ts
  backend/gateway-service/src/modules/question/question.service.ts
  backend/user-service/src/app.controller.ts
  backend/user-service/src/app.service.ts
  backend/user-service/src/constants/account-provider.enum.ts
  backend/user-service/src/constants/coding-languages.enum.ts
  backend/user-service/src/constants/proficiency-level.enum.ts
  backend/user-service/src/dto/create-user-socials.dto.ts
  backend/user-service/src/dto/index.ts
  backend/user-service/src/schema/user.schema.ts
Labels: p.medium, backend
